/* ------------------------ Main 디자인 ---------------------------- */
.content{
    width:1200px;
    height: 1500px;
    margin:auto;
    position:relative;
    z-index:1;
}
.board_section{
    width:940px;
    position:relative;
    top:115px;
    left:200px;
}

/* 타이틀 */
.title_box{
    width:940px;
    height:40px;
    border-bottom:1px solid #949494;
    margin-bottom:45px;
    position:absolute;
}
.green_box{
    display:block;
    width:15px;
    height:30px;
    background:#002a03;
    margin-bottom:10px;
    margin-right:10px;
    float:left;
}
.board_title{
    font-size:20px;
    font-weight:bold;
    float:left;
}
.gray_txt:after{
    content:"|";
    margin:0 15px;
    color:#949494;
    float:left;
}
.gray_txt{
    color:#949494;
    float:left;
    padding-top:5px;
    font-size:15px;
}

.view_content{
    position:relative;
    top:60px;
}
/* 테이블 */
.view_table{
    border-collapse:collapse;
    width:940px;
    border-top:2px solid rgb(0, 95, 0);
    border-bottom:2px solid rgb(0, 95, 0);
    margin-bottom:30px;
    box-sizing:border-box;
}
tr{
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
td, th{
    padding:10px;
    font-size:18px;
}
th{
    background:#FCF9ED;
    font-size:18px;
    width:180px;
}
td{
    padding-left:13px;
}
.b_pwd{
    width:300px;
    height:30px;
    padding-left:10px;
    font-size:16px;
}
.textarea{
    outline:none;
    border:0px none;
    font-size:18px;
    width:920px;
    height:400px;
    padding:15px;
    box-sizing:border-box;
}

/* list */
.back_list{
    display:inline-block;
    width:135px;
    height:35px;
    border:1px solid #999;
    text-align:center;
    padding-top:5px;
    box-sizing:border-box;
    font-size:18px;
    margin-bottom:30px;
}
.admin_func{
    display:inline-block;
    width:135px;
    height:35px;
    border:1px solid #999;
    text-align:center;
    padding-top:5px;
    box-sizing:border-box;
    font-size:18px;
    margin-right:10px;
    margin-bottom:30px;
    position:relative;
    left:515px;
}
.admin_func:hover{
    color:red;
}
