/* ----------------------------------- IR ----------------------------------- */
.ssc_bt{
    background:url(../images/ssc_bt.jpg) no-repeat;
    display:block;
    width:59px;
    height:50px;
    text-indent:-9999px;
}
.ssc_close{
    background:url(../images/ssc_close.jpg) no-repeat;
    display:block;
    width:55px;
    height:55px;
    text-indent:-9999px;
}

/* ----------------------------------- 검색창 디자인 ----------------------------------- */
.search_screen{
    width:100%;
    height:100%;
}
.background{
    display:block;
    width:100%;
    height:100%;
    background:#000;
    opacity:20%;
}